[submodule "Core"]
	path = .module/Core
	url = https://github.com/Softloq/Bount-Game-Core.git
	ignore = dirty
[submodule "glm"]
	path = .module/glm
	url = https://github.com/g-truc/glm.git
	ignore = dirty
